.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}


/* ----- NAVIGATION BAR ----- */
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background: var(--body-color);
    padding-inline: 9vw;
    line-height: 90px;
    transition: 0.3s;
    z-index: 100;
  }
  
  .nav-menu-btn i {
    font-size: 28px;
    cursor: pointer;
  }
  
  // .nav-logo span {
  //   position: absolute;
  //   top:-15px;
  //   right:-20px;
  //   font-size: 5em;
  //   color: var(--text-color-second);
  // }
  
  .nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color-third);
  }
  
  .nav-menu {
  }
  
  .nav-menu-list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav-list {
    list-style: none;
    position: relative;
  }
  
  .nav-button {
  }
  
  .nav-link {
    cursor: pointer;
    color: var(--text-color-second);
    font-weight: 500;
    text-decoration: none;
    padding-inline: 10px;
    margin-inline: 20px;
  }
  
  .circle {
  }
  