.featured-box {
    display: flex;
    position: relative;
    height: 100vh;
    min-height: 700px;
}

.featured-text {
   display: flex;
   position: relative;
   flex-direction: column;
//    justify-content: center;
//    align-items: center;
   min-height: 80vh;
   width: 50%;
   padding-left: 20px;
}

.featured-text-card span {
    color: var(--color-white);
    background: var(--third-color);
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-block: 20px;
}

.typed-text {
    text-transform: capitalize;
    color: var(--text-color-third);
}

.featured-text-info {
    font-size: 15px;
    margin-bottom: 20px;
    color: var(--text-color-second);
}