.featured-box {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 700px;
}

.featured-text {
  display: flex;
  position: relative;
  flex-direction: column;
  //    justify-content: center;
  //    align-items: center;
  min-height: 80vh;
  width: 50%;
  padding-left: 20px;
}

.featured-text-card span {
  color: var(--color-white);
  background: var(--third-color);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 5px;
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: var(--text-color-second);
  margin-block: 20px;
}

.typed-text {
  text-transform: capitalize;
  color: var(--text-color-third);
}

.featured-text-info {
  font-size: 15px;
  margin-bottom: 20px;
  color: var(--text-color-second);
}

.featured-text-btn {
  display: flex;
  gap: 20px;
}

.featured-text-btn > .blue-btn {
  background: var(--first-color);
  color: white;
}

.featured-text-btn > .blue-btn:hover {
  background: var(--first-color-hover);
}

.social-icons {
  display: flex;
  gap: 20px;
  margin-top: 5em;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.icon:hover {
  color: var(--first-color);
}

.featured-image {
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 50%;
}

.image {
  width: 380px;
  height: 380px;
  border-radius: 55% 45% 55% 45%;
  overflow: hidden;
  animation: imgFloat 4s ease-in-out infinite;
}
// .image img {
//   width: 380px;
//   height: 380px;
//   object-fit: cover;
// }
@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
  }
}
